{% extends 'base.html.twig' %}

{% block title %}STEP : Gestion Projets/Archives{% endblock %}

{% set count = 0 %}
    {% for role in app.user.roles %}
        {% if role == 'ROLE_GESTION' or role == 'ROLE_ADMIN' %}
            {% set count = 1 %}
        {% endif %}
    {% endfor %}

{% block body %}

<div id="topbar">

    <span id="logo"><a href="{{ path('app_projets') }}"><img src="https://step.eco/wp-content/uploads/2021/11/Logo-bleu-STEP-RVB-300x128.png" alt="Logo de Step"></a></span>
    <span id="userinfo">
        
        <p>{% if count == 1 %}
            Connecté en tant que gestionnaire 
            {% else %} 
            Connecté en tant qu'utilisateur
            {% endif %}
        </p>
    </span>

    <span id="righttopbar"><a id="deconnect" href="{{ path('app_logout') }}">Se déconnecter</a><a href="{{ path('app_settings') }}"><img style="width:20%; position: absolute; padding-left:45%" src="{{ asset('build/gear-solid.png') }}" alt="White Gear"></a></span>
</div>

<div id="elementshowbox" style="top: 20%;height: 70%">
    {% for archive in archives %}
        <ul style="list-style: none;">
            <li style='border-radius:10px;display:block;padding:2%;border:2px;border-color:black;border-style:solid;background-color:lightgrey;'>libellé : {{ archive.libelle }}</li>
        </ul>
    {% endfor %}
</div>
{% endblock %}
